/* You can add global styles to this file, and also import other style files */
html
    height: 100%

body
    margin: 0px
    height: 100%

input.mat-input-element
    border: none
    border-radius: 5px 0px 0px 5px
    padding: 10px
    min-width: 10px