.header
    width: 100%
    padding: 18px
    display: grid
    grid-template-columns: 1fr 20fr 1fr
    align-items: center
    img
        height: 35px
        margin: 0px 20px 0px 100px
    .search-button
        margin-right: 100px
        border-radius: 0px 5px 5px 0px