<div class="desc-ctr">
    <div class="image-ctr">
        <img src="../../../../assets/images/iphone-x-pantalla.jpeg">
    </div>
    <h2>Descripcion del producto</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quos atque tempora tenetur quis molestiae enim et beatae, cupiditate aut nostrum molestias optio quam debitis ut quod? Expedita, est obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis in eaque at, officia qui natus debitis quidem aliquid maiores, mollitia consequuntur facere nemo fugit nulla? Corporis sunt maxime minus atque!</p>
</div>