<mat-card [tabIndex]="'0'" class="item-ctr" *ngIf="!( loading$ | async);else skeleton">
    <item-ext-info 
    [image]="(item$ | async)?.picture"
    [description]="(item$ | async)?.description"
    class="ext-info">
    </item-ext-info>
    <item-purchase-info 
    [condition]="(item$ | async)?.condition"
    [soldQuantity]="(item$ | async)?.sold_quantity"
    [title]="(item$ | async)?.title"
    [price]="(item$ | async)?.price"
    class="purchase-info">
    </item-purchase-info>
</mat-card>

<ng-template #skeleton>
    <mat-card class="item-ctr">
        <rectangular-skeleton
        [width]="'90%'"
        [height]="'400px'"
        [count]="'1'"
        class="sk-ctr"></rectangular-skeleton>
        <rectangular-skeleton
        [width]="'90%'"
        [height]="'100px'"
        [count]="'1'"
        class="sk-ctr"></rectangular-skeleton>
    </mat-card>
</ng-template>