<mat-card class="item-card">
    <div class="image-ctr">
        <img [src]="item.picture">
    </div>
    <div class="item-summary">
        <div class="sum-1">
            <div class="price">
                <p>{{item.price.amount | currency:item.price.currency:'symbol-narrow':'1.0-0'}}</p>
                <img *ngIf="item.free_shipping" class="shipping-img" src="../../../../assets/images/ic_shipping.png">
            </div>
            <p>{{item.city}}</p>
        </div>
        <p>{{item.title}}</p>
        <p>{{item.condition}}</p>
    </div>
</mat-card>
<div class="card-separator"></div>
